<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer-2.css">
    <link rel="stylesheet" href="../assets/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- START CONTAINER -->
    <div id="wrapper">
        <!-- START HEADER  -->
        <div id="header">.</div>
        <!-- END HEADER -->
        <!-- START MAIN CONTENT -->
            <div id="main">
                <div id="inputs">
                    <p>Please Login</p>
                <input class="username" type="text" placeholder="Username">
                <input class="password" type="password" placeholder="Password">
                </div>
                <div id="image">
                    <img src="../assets/image/mascot-1.png" alt="mascot">
                </div>
            </div>
        <!-- END MAIN CONTENT -->
        <!-- START FOOTER -->
        <div id="footer">
            <a href="#">
                <button class="login">
                    Login
                </button>
            </a>
        </div>
        <!-- END FOOTER -->
    </div>
    <!-- END CONTAINER -->
</body>
</html>