@import url('reset.css');

/* GENERAL */
* {
    font-size: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* MOBILE */
@media screen and (max-width: 767px) {

    /* CONTAINER */
#wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

    /* HEADER */
#header {
    width: 100%;
    height: 10%;
    background-color: black;
}


/* CONTENT */
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F3F4F6;
    text-align: center;
    height: 65%;
}

#main img {
    width: 30%;
    height: auto;
}

#main h1 {
    font-size: 2rem;
}

#main p {
    width: 70%;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #69727D;
}

/* FOOTER */

#footer {
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    padding: 1.5em 1.5em 2.5em 1.5em;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#footer button {
    width: 100%;
    border-radius: 2em;
    padding: 1em 2em;
}

#footer .button-1 {
    margin-bottom: 1.5em;
    background-color: #6D31ED;
}

#footer .button-1 a {
    color: #F3F4F6;
}

#footer .button-2 {
    background-color: #F3F4F6;
}

#footer .button-2 a {
    color: #6D31ED;
}

}