@import url('reset.css');

/* START GENERAL */
* {
    font-size: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input:focus {
    outline: none;
}

/* END GENERAL */

/* START MOBILE */
@media screen and (max-width: 767px) {

/* START CONTAINER */
#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* END CONTAINER */



/* START CONTENT */
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F3F4F6;
    text-align: center;
    height: 60%;
}

#main img {
    width: 30%;
    height: auto;
}

#main h1 {
    font-size: 1.5rem;
}

#main p {
    width: 70%;
    font-size: 1rem;
    line-height: 2rem;
    color: #69727D;
}

/* END CONTENT */

}
/* END MOBILE */


