@import url('reset.css');

/* GENERAL */
* {
    font-size: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* MOBILE */
@media screen and (max-width: 767px) {
    /* HEADER */

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100vw;
    height: 20vh;
    background-color: black;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    padding: 5em;
    height: 60vh;
    text-align: center;
}

#main img {
    width: 30%;
    height: auto;
    margin-bottom: 1em;
}

#main h1 {
    font-size: 3rem;
    margin-bottom: 1em;
}

#main p {
    font-size: 2rem;
    line-height: 2.5rem;
}

#footer {
    box-sizing: border-box;
    width: 100vw;
    height: 20vh;
    padding: 5em 1.5em;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer button {
    width: 99.9%;
    border-radius: 2em;
    padding: 1em 2em;
}

#footer .button-1 {
    margin-bottom: 0.5em;
}
 
}




